<div class="mt-4">
  <form method="post">
    <div class="mb-3">
      <label for="searchInput" class="form-label">Keyword</label>
      <input
        id="searchInput"
        type="text"
        class="form-control"
        name="q"
        placeholder="Enter..."
      />
    </div>

    <div class="mb-3">
      <label for="gender-input" class="form-label">Keyword</label>
      <select
        id="gender-input"
        class="form-control"
        name="gender"
      >
        <option value="male">Male</option>
        <option value="female">Female</option>
        <option value="other">Other</option>
      </select>
    </div>

    <button type="submit" class="btn btn-primary">Search</button>
  </form>
</div>